//doctype html
html
  head
    title Gourav Dance Academy
    block scripts
    block style
  body
    nav#navbar.top
      ul
        div#logo
           img(src="/static/img/logo.png") 
           |GDA
        li #[a(href="/") Home]
        li #[a(href="/") Class info]
        li #[a(href="/contact") Contact us ]
        li #[a(href="/") services]  
    block content
    footer#footer
      h2 copyright © 2020 GouravDanceAcademy.com | All rights reserved |